/* General Formatting */
body {
	background-color: black;
}

h1, h2, p, a {
	text-align: center;
	font-family: Verdana;
}

h1 {
	font-weight: normal;
	font-size: 50px;
	color: white;
}

h2 {
	font-weight: 300;
	font-size: 42px;
	color: white;
}

p {
	font-size: 21px;
	color: gray;
}

a {
	font-size: 16px;
	color: aquamarine;
}

/* Copywrite Tag */
#cr {
	text-align: right;
}


/* Media Styling */
img, video {
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#camp {
	margin-right: auto;
	margin-left: auto;
	max-width:100%;
}


/* Responsive Media for Mobile Screens */
@media screen and (max-width: 375px){
	video{
		width: 290px;
		height: 515px;
		margin-left: : auto;
		margin-right: auto;
		padding-left: : auto;
		padding-right: auto;
	}
}